.banner__imagen {
    position: relative;
    width: 100vw;
    height: 100%;
    background-image: url('../../../imagenes/ezvel.png');
    background-size: 10%;
    opacity: 1;
}

@media screen and (min-width: 768px){
    .banner__imagen {
        opacity: .5;
    }
}

@media screen and (min-width: 1024px){
    .banner__imagen {
        opacity: .4;
    }
}