.banner__contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    z-index: 10;
    width: 80%;
    height: 80vh;
    top: 10px;
    background-color: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}