.banner__imagen {
    position: relative;
    width: 100vw;
    height: 100%;
    background-image: url('../../../assets/imagenes/code-mobile.png');
    background-size: cover;
    opacity: .3;
}

@media screen and (min-width: 768px){
    .banner__imagen {
        background-image: url('../../../assets/imagenes/code.png');
    }
}

