.sobre {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color-seccion-par);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 8em;
    padding-bottom: 6em;
}

