* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

html{
    background-color: var(--bg-color-seccion-impar);
}

body {
    font-size: 16px;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding-left: 0;
    list-style: none;
}

