* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

html{
    background-color: var(--bg-color-oscuro);
}

body {
    font-size: 16px;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
}

a {
    color: inherit;
}

