.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

/*
12col --> 100%
xcol  -->

*/

.col-1 {
   width: 6.333333333%; 
   margin: 1% 1%;
}

.col-2 {
    width: 14.666666667%; 
    margin: 1% 1%;
 }

 .col-3 {
    width: 23%; 
    margin: 1% 1%;
 }

 .col-4 {
    width: 31.333333333%; 
    margin: 1% 1%;
 }

 .col-5 {
    width: 39.666666667%; 
    margin: 1% 1%;
 }

 .col-6 {
    width: 48%; 
    margin: 1% 1%;
 }

 .col-7 {
    width: 56.333333333%; 
    margin: 1% 1%;
 }

 .col-8 {
    width: 64.666666667%; 
    margin: 1% 1%;
 }

 .col-9 {
    width: 73%;
    margin: 1% 1%; 
 }

 .col-10 {
    width: 81.333333333%; 
    margin: 1% 1%;
 }

 .col-11 {
    width: 89.666666667%; 
    margin: 1% 1%;
 }

 .col-12 {
    width: 98%; 
    margin: 1% 1%;
 }

 @media screen and (min-width: 500px) {
   .col-xs-1 {
      width: 6.333333333%; 
      margin: 1% 1%;
   }
   
   .col-xs-2 {
       width: 14.666666667%; 
       margin: 1% 1%;
    }
   
    .col-xs-3 {
       width: 23%; 
       margin: 1% 1%;
    }
   
    .col-xs-4 {
       width: 31.333333333%; 
       margin: 1% 1%;
    }
   
    .col-xs-5 {
       width: 39.666666667%; 
       margin: 1% 1%;
    }
   
    .col-xs-6 {
       width: 48%; 
       margin: 1% 1%;
    }
   
    .col-xs-7 {
       width: 56.333333333%; 
       margin: 1% 1%;
    }
   
    .col-xs-8 {
       width: 64.666666667%; 
       margin: 1% 1%;
    }
   
    .col-xs-9 {
       width: 73%;
       margin: 1% 1%; 
    }
   
    .col-xs-10 {
       width: 81.333333333%; 
       margin: 1% 1%;
    }
   
    .col-xs-11 {
       width: 89.666666667%; 
       margin: 1% 1%;
    }
   
    .col-xs-12 {
       width: 98%; 
       margin: 1% 1%;
    }
 }

 @media screen and (min-width:768px){
   .col-sm-1 {
      width: 6.333333333%; 
      margin: 1% 1%;
   }
   
   .col-sm-2 {
       width: 14.666666667%; 
       margin: 1% 1%;
    }
   
    .col-sm-3 {
       width: 23%; 
       margin: 1% 1%;
    }
   
    .col-sm-4 {
       width: 31.333333333%; 
       margin: 1% 1%;
    }
   
    .col-sm-5 {
       width: 39.666666667%; 
       margin: 1% 1%;
    }
   
    .col-sm-6 {
       width: 46%; 
       margin: 1% 1%;
    }
   
    .col-sm-7 {
       width: 56.333333333%; 
       margin: 1% 1%;
    }
   
    .col-sm-8 {
       width: 64.666666667%; 
       margin: 1% 1%;
    }
   
    .col-sm-9 {
       width: 73%;
       margin: 1% 1%; 
    }
   
    .col-sm-10 {
       width: 81.333333333%; 
       margin: 1% 1%;
    }
   
    .col-sm-11 {
       width: 89.666666667%; 
       margin: 1% 1%;
    }
   
    .col-sm-12 {
       width: 98%; 
       margin: 1% 1%;
    }
 }

 @media screen and (min-width:1024px){
   .col-md-1 {
      width: 6.333333333%; 
      margin: 1% 1%;
   }
   
   .col-md-2 {
       width: 14.666666667%; 
       margin: 1% 1%;
    }
   
    .col-md-3 {
       width: 23%; 
       margin: 1% 1%;
    }
   
    .col-md-4 {
       width: 31.333333333%; 
       margin: 1% 1%;
    }
   
    .col-md-5 {
       width: 39.666666667%; 
       margin: 1% 1%;
    }
   
    .col-md-6 {
       width: 46%; 
       margin: 1% 1%;
    }
   
    .col-md-7 {
       width: 56.333333333%; 
       margin: 1% 1%;
    }
   
    .col-md-8 {
       width: 64.666666667%; 
       margin: 1% 1%;
    }
   
    .col-md-9 {
       width: 73%;
       margin: 1% 1%; 
    }
   
    .col-md-10 {
       width: 81.333333333%; 
       margin: 1% 1%;
    }
   
    .col-md-11 {
       width: 89.666666667%; 
       margin: 1% 1%;
    }
   
    .col-md-12 {
       width: 98%; 
       margin: 1% 1%;
    }
 }
