.header{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 50px;
    background-color: var(--bg-color-seccion-par);
    z-index: 30;
}


@media screen and (min-width: 700px) {
    .header {
        height: 6em;
    }
}
