.header{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color-seccion-par);
    z-index: 30;
    transform: translateY(0vh);
}

.header--show {
    transform: translateY(-100vh);
}

@media screen and (min-width: 768px){
    .header{
        transform: translateY(0vh);
        height: auto;
    }
}