.header{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6em;
    padding: 0 50px;
    background-color: transparent;
    z-index: 30;
}