.proyectos {
    padding-top: 8em;
    padding-bottom: 8em;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    height: auto;
    background-color: var(--bg-color-seccion-par);
}

.proyectos__titulo {
    width: 100%;
    text-align: center;
}

