.sobre-mi {
    box-sizing: border-box;
    padding-top: 8em;
    padding-bottom: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-color-seccion-impar);
}

.sobre-mi__contenido {
    width: 80%;
}

.sobre-mi__redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 80%;
    column-gap: 1rem;
}

.sobre-mi__links > svg:hover {
    fill: var(--color-resaltador);
}