.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 6em;
}

@media screen and (min-width: 768px) {
    .menu {
        justify-content: center;
    }
}