.menu__links {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
}

.menu__links:hover {
    color: var(--color-resaltador);
    border-bottom: 2px solid var(--color-resaltador);
}