.menu__lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media screen and (min-width: 768px){
    .menu__lista {
        flex-direction: row;
    }
}