.menu__hamburguesa {
    position: fixed;
    top: 1rem;
    left: 2rem;
    cursor: pointer;
    z-index: 100;
}

@media screen and (min-width: 768px) {
    .menu__hamburguesa {
        display: none;
    }
}
